@using System.Web.Optimization;
@using BrandesBank.Models
@{
    Users user = Session["User"] as Users;
    BankDB bankDB = new BankDB();
    double money = 0;
    if (user != null && bankDB.Accounts.Find(user.UserID) != null)
    {
        money = bankDB.Accounts.Find(user.UserID).TotalCash;
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BB :: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="AR" />
</head>
<body style="background-color:white;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#292929;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })"> <span class="glyphicon glyphicon-home"></span> Brandes Bank</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="@Url.Action("About", "Home")"> <span class="glyphicon glyphicon-info-sign"></span> About </a></li>
                    <li> <a href="@Url.Action("Contact", "Home")"> <span class="glyphicon glyphicon-comment"></span> Contact </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] as Users == null)
                    {
                        <li>
                            <a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in glyphicon-adjust"></span> Login</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-registration-mark glyphicon-adjust"></span> Register</a>
                        </li>
                    }
                    else
                    {
                        @*money in account*@
                        <li>

                            <a href="@Url.Action("Details", "BankAccount")">@String.Format("Total Cash: {0:C}", money) </a>
                        </li>
                        if (user.RoleID == 1)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @user.UserName<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Update Admin", "Edit", "Account")</li>
                                    <li>@Html.ActionLink("View Users", "Index", "Admin")</li>
                                    <li>@Html.ActionLink("View Accounts", "Index", "BankManager")</li>
                                    @*Give Money*@
                                </ul>
                            </li>
                        }
                        else
                        {

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @user.UserName<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Update User", "Edit", "Account")</li>
                                    @*Check User Account*@
                                </ul>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Logout", "Account")"><span class="glyphicon glyphicon-log-out glyphicon-adjust"></span> Logout</a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content" style="background-color:white; ">
        <div style="margin:5%">
            @* Bank Logo *@
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ben Brandes</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>