@model IEnumerable<BrandesBank.Models.Accounts>

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCash)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCash)
        </td>
        <td>
            <a href="@Url.Action("GiveCash", "BankManager", new { id = item.UserID })" >Give Cash</a> |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
