@model IEnumerable<Site.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th width="10%">
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th width="12%">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th width="12%">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="16%">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th width="18%">
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th width="8%">
            @Html.DisplayNameFor(model => model.Roles.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.Name)
        </td>
        <td>
            <a href="@Url.Action("AdminOrders", "Shop", new { id=item.UserID})">View Orders</a> |
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
